# Python virtual environment
venv/
python_simulator/venv/

# Pycache and temporary python files
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
.pytest_cache/

# Logs
**/logs/
**/*.log

# OS metadata
.DS_Store
Thumbs.db

# Local license files
**/.pilotos.sys

# PilotProbe patterns
pilotprobe/venv/
pilotprobe/pilotprobe.db
pilotprobe/*.json
pilotprobe/*.csv
